.main {
  background: lightgrey;
  padding: 6px;
  border: solid 1px black;
}
.repo {
  padding: 6px;
  border-bottom: dashed 1px black;
  font-size: 12px;
  color: #666;
  padding-bottom: 12px;
}
.repo:last-child {
  border-bottom: none;
}
.header {
  font-weight: bold;
  line-height: 1.4;
  color: black;
}
.label {
  font-weight: bold;
  font-style: italic;
}
